<div class="container" style="margin-top: 2em;">
    <h3>SignUp FORM</h3>
    <form (ngSubmit)="onSubmit()" #SignUp="ngForm">
        <fieldset>
            <!-- <input type="hidden" name="userId" #userId="ngModel" [(ngModel)]="user.userId" /> -->
            <div class="container" style="margin-top: 1em;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="FirstName">FirstName</label>
                            <!-- <div [hidden]="!studentNumber.valid && (studentNumber.dirty || studentNumber.touched)" class="alert alert-danger">Student number is required</div> -->
                            <input text="firstName" name="firstName" type="text" class="form-control" [(ngModel)]="user.firstName" required #FirstName="ngModel">
                            <!-- <div *ngIf="studentNumber.invalid && (studentNumber.dirty || studentNumber.touched)" class="alert text-danger">
                                <div *ngIf="studentNumber.errors.required">
                                    studentNumber is required. 
                                </div>
                            </div> -->
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">LastName</label>
                            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert text-danger"></span>
                            <input text="lastName" name="lastName" #lastName="ngModel" type="text" class="form-control" [(ngModel)]="user.lastName">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="userName">UserName</label>
                        <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" class="alert text-danger"></span>
                        <input text="userName" name="userName" type="text" #userName="ngModel" class="form-control" [(ngModel)]="user.userName">
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-group">
                        <label for="passWord">PassWord</label>
                        <span th:if="${#fields.hasErrors('passWord')}" th:errors="*{passWord}" class="alert text-danger"></span>
                        <input text="passWord" name="passWord" type="text" #passWord="ngModel" class="form-control" [(ngModel)]="user.passWord">
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="phoneNo">PhoneNumber</label>
                    <span th:if="${#fields.hasErrors('phoneNo')}" th:errors="*{phoneNo}" class="alert text-danger"></span>
                    <input text="phoneNo" name="phoneNo" type="text" class="form-control" [(ngModel)]="user.phoneNo" #phoneNo="ngModel">
                </div>
            </div>

            <h5> ADDRESS</h5>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="hidden" name="addressId" #addressId="ngModel" [(ngModel)]="user.address.addressId" />
                        <label for="houseNumber">House Number</label>
                        <input id="houseNumber" name="houseNumber" type="text" class="form-control" [(ngModel)]="user.address.houseNumber" required #houseNumber="ngModel">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="street">Street</label>
                        <input text="street" name="street" type="text" class="form-control" [(ngModel)]="user.address.street" required #street="ngModel">

                        <div *ngIf="street.invalid && (street.dirty || street.touched)" class="alert text-danger">
                            <div *ngIf="street.errors.required">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="city">City</label>
                        <input text="city" name="city" type="text" class="form-control" [(ngModel)]="user.address.city" required #city="ngModel">

                        <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert text-danger">
                            <div *ngIf="city.errors.required">
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-md-6">
                    <div class="form-group">
                        <label for="state">State</label>
                        <input text="state" name="state" type="text" class="form-control" [(ngModel)]="user.address.state" required #state="ngModel">
                        <div *ngIf="state.invalid && (street.dirty || state.touched)" class="alert text-danger">
                            <div *ngIf="state.errors.required">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="zipCode"> ZipCode</label>
                        <input text="zipCode" name="zipCode" type="text" class="form-control" [(ngModel)]="user.address.zipCode" #zipCode="ngModel">
                        <!-- <div *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)" class="alert text-danger">
                        <div *ngIf="zipCode.errors.required">

                        </div>
                    </div> -->
                    </div>
                </div>


                <!-- <div class="form-group">
                <label for="role">Role</label>
                <select class="form-control" id="role" required>
                  <option *ngFor="let role of Roles" value="role">{{role}}</option>
                </select>
            </div> -->
                <div>
                    <label for="role">role</label>
                    <select class="form-control" [(ngModel)]='selectedRole' (ngModelChange)='onRoleSelected($event)'>
                     <option *ngFor="let item of roles" [ngValue]="item" >{{item.role}}</option>
                     </select>{{roles | json}}
                </div>

            </div>

            <!-- <div class="col-md-6">
                <div class="form-group">
                    <label for="category">Roles</label> 
            <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="alert alert-danger"></span>
            <select name="role" id="role" class="form-control" required="required">
                            <option value="">Select a Roles</option>
                              <option th:each="role: ${Roles}" th:value="${user.roleId}" th:text="${user.role}"></option>
                   </select> 
                </div>
                </div> 

 <p>
                <input type="radio" value="2" name="role" [ngModel]="user.role.role"> Customer
                <input type="radio" value="1" name="role" [ngModel]=" user.role.role"> Owner
            </p> -->

            <div style="float:right;">
                <button id="btnSubmit" type="submit" class="btn btn-outline-success" [disabled]="!SignUp.valid">Submit</button>
            </div>

        </fieldset>
    </form>
</div>