<!-- <div class="container" style="margin-top: 2em;">
    <h3>Sign up</h3>

    <form (ngSubmit)="onSubmit()" #SignUP="ngForm">
        <fieldset>
            <input type="text" name="firstName" #FirstName="ngModel" required [(ngModel)]="user.firstName" />
            <div class="container" style="margin-top: 1em;">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">LastName</label>

                            <input type="text" name="LastName" type="text" class="form-control"
                                [(ngModel)]="LastName" required #LastName="ngModel">
                             <div *ngIf="houseType.invalid && (houseType.dirty || houseType.touched)"
                                class="alert text-danger">
                                <div *ngIf="houseType.errors.required"> -->

<!-- </div>
</div>
</div>
</div>
<div class="col-md-6">
    <div class="form-group">
        <label for="password">PassWord</label>
        <input text="userName" name="userName" type="text" class="form-control" [(ngModel)]="user.userName" required #UserName="ngModel"> -->

<!-- <div *ngIf="numberOfRooms.invalid && (numberOfRooms.dirty || numberOfRooms.touched)"
                                class="alert text-danger">
                                <div *ngIf="numberOfRooms.errors.required">
                                   -->
<!-- 
    </div>
</div>
</div>
</div>

</div>

<div class="row">



    <div class="col-md-6">
        <div class="form-group">
            <label for="">Description</label>
            <input id="description" name="description" type="text" class="form-control" [(ngModel)]="house.description" required #description="ngModel">

            <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert text-danger">
                <div *ngIf="description.errors.required">


                </div>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="form-group">
            <label for="price">Price</label>
            <input id="price" name="price" type="text" class="form-control" [(ngModel)]="house.price" required #price="ngModel">

            <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert text-danger">
                <div *ngIf="price.errors.required">


                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <h5> ADDRESS</h5>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="hidden" name="addressId" #addressId="ngModel" [(ngModel)]="house.address.addressId" />

                        <label for="houseNumber">House Number</label>
                        <input id="houseNumber" name="houseNumber" type="text" class="form-control"
                            [(ngModel)]="house.address.houseNumber" required #houseNumber="ngModel">

                        <div *ngIf="houseNumber.invalid && (houseNumber.dirty || houseNumber.touched)"
                            class="alert text-danger">
                            <div *ngIf="houseNumber.errors.required"> -->


<!-- </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="street">Street</label>
                        <input id="price" name="street" type="text" class="form-control"
                            [(ngModel)]="house.address.street" required #street="ngModel">

                        <div *ngIf="street.invalid && (street.dirty || street.touched)" class="alert text-danger">
                            <div *ngIf="street.errors.required">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="city">City</label>
                        <input id="price" name="city" type="text" class="form-control" [(ngModel)]="house.address.city"
                            required #city="ngModel">

                        <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert text-danger">
                            <div *ngIf="city.errors.required">
 </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="street">State</label>
                        <input id="street" name="street" type="text" class="form-control"
                            [(ngModel)]="house.address.street" required #state="ngModel">
                            <div *ngIf="state.invalid && (street.dirty || state.touched)" class="alert text-danger">
                            <div *ngIf="state.errors.required">
                             
                             </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="zipCode">ZipCode</label>
                        <input id="zipCode" name="street" type="text" class="form-control"
                            [(ngModel)]="house.address.street" required #zipCode="ngModel">
                            <div *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)" class="alert text-danger">
                            <div *ngIf="zipCode.errors.required">
                                
                             </div>
                        </div>
                    </div>
                </div> -->