<h1>Hello</h1>
<!-- <div class="container" style="margin-top: 2em;">
    <h3>House FORM</h3>
    <form (ngSubmit)="onSubmit()" #houseForm="ngForm">
        <fieldset>
            <input type="hidden" name="houseId" #houseId="ngModel" [(ngModel)]="house.houseId"/>
            <div class="container" style="margin-top: 1em;">
                <div class="row"> 
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="studentNumber">Student Number</label> -->
 
                            <!-- <div [hidden]="!studentNumber.valid && (studentNumber.dirty || studentNumber.touched)" class="alert alert-danger">Student number is required</div> -->
                            <!-- <input id="studentNumber" name="studentNumber" type="text" class="form-control" [(ngModel)]="student.studentNumber" required #studentNumber="ngModel">
                            <div *ngIf="studentNumber.invalid && (studentNumber.dirty || studentNumber.touched)" class="alert text-danger">
                                <div *ngIf="studentNumber.errors.required">
                                    studentNumber is required.
                                  </div>
                                </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="first_name">First Name</label>
                            <span th:if="${#fields.hasErrors('first_name')}" th:errors="*{first_name}" class="alert text-danger"></span>
                            <input id="first_name" name="first_name" #first_name="ngModel" type="text" class="form-control" [(ngModel)]="student.first_name" >
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="middleName">middle Name</label>
                            <span th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}" class="alert text-danger"></span>
                            <input id="middleName" name="middleName" type="text" #middleName="ngModel" class="form-control" [(ngModel)]="student.middleName">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="alert text-danger"></span>
                            <input id="lastName" name="lastName" type="text" class="form-control" [(ngModel)]="student.lastName" #lastName="ngModel">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dateOfEnrollment">Date of Enrollment</label>
                            <span th:if="${#fields.hasErrors('dateOfEnrollment')}" th:errors="*{dateOfEnrollment}" class="alert text-danger"></span>
                            <input id="dateOfEnrollment" name="dateOfEnrollment" #datOfEnrollment="ngModel" type="date" class="form-control" aria-describedby="startDatehHelp" [(ngModel)]="student.dateOfEnrollment">
   			                </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="cgpa">cgpa</label>
                            <span th:if="${#fields.hasErrors('cgpa')}" th:errors="*{cgpa}" class="alert text-danger"></span>
                            <input id="cgpa" name="cgpa" type="text" #cgpa="ngModel"class="form-control" [(ngModel)]="student.cgpa">
                        </div>
                    </div>

                    <div class="col-md-6" style="float:right">
                        <div class="form-group">
                            <label for="isInternational">isInternational</label>
                            <span th:if="${#fields.hasErrors('isInternational')}" th:errors="*{isInternational}" class="alert text-danger"></span>
                            <select name="isInternational" id="isInternational" #isInternational="ngModel" type="text" class="form-control" [(ngModel)]="student.isInternational">
                                <option disabled value="">Select ...</option>
                                <option value="yes">Yes</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
            <div style="float:right;">
                <a href="/students" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                <button id="btnSubmit" type="submit" class="btn btn-outline-success" [disabled]="!studentForm.valid" >Add Student</button>
            </div>
        </fieldset>
    </form>
</div> -->
