<div class="container" style="margin-top: 2em;">
    <h3>HOUSE FORM</h3>

    <form (ngSubmit)="onSubmit()" #houseForm="ngForm">
        <fieldset>
            <input type="hidden" name="houseId" #houseId="ngModel" [(ngModel)]="house.houseId" />
            <div class="container" style="margin-top: 1em;">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="HouseType">House Type</label>
                            <input id="houseType" name="houseType" type="text" class="form-control" [(ngModel)]="house.houseType" required minlength="2" #houseType="ngModel">
                            <div *ngIf="houseType.invalid && (houseType.dirty || houseType.touched)" class="alert text-danger">
                                <div *ngIf="houseType.errors.required">
                                    House type is required
                                </div>
                                <div *ngIf="houseType.errors.minlength">
                                    House type must at least be 2 character long
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="numberOfRooms">Number Of Rooms</label>
                            <input id="numberOfRooms" name="numberOfRooms" type="text" class="form-control" [(ngModel)]="house.numberOfRooms" required #numberOfRooms="ngModel">

                            <div *ngIf="numberOfRooms.invalid && (numberOfRooms.dirty || numberOfRooms.touched)" class="alert text-danger">
                                <div *ngIf="numberOfRooms.errors.required">

                                    number Of Rooms is required field
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">



                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input id="description" name="description" type="text" class="form-control" [(ngModel)]="house.description" #description="ngModel">

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input id="price" name="price" type="text" class="form-control" [(ngModel)]="house.price" required #price="ngModel">

                            <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert text-danger">
                                <div *ngIf="price.errors.required">
                                    Price must be filled
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="hidden" name="addressId" #addressId="ngModel" [(ngModel)]="house.address.addressId" />

                            <label for="houseNumber">House Number</label>
                            <input id="houseNumber" name="houseNumber" type="text" class="form-control" [(ngModel)]="house.address.houseNumber" required #houseNumber="ngModel">

                            <div *ngIf="houseNumber.invalid && (houseNumber.dirty || houseNumber.touched)" class="alert text-danger">
                                <div *ngIf="houseNumber.errors.required">
                                    house number must be filled

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="street">Street</label>
                            <input id="street" name="street" type="text" class="form-control" [(ngModel)]="house.address.street" required #street="ngModel">

                            <div *ngIf="street.invalid && (street.dirty || street.touched)" class="alert text-danger">
                                <div *ngIf="street.errors.required">
                                    street must be filled
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="city">City</label>
                            <input id="city" name="city" type="text" class="form-control" [(ngModel)]="house.address.city" required #city="ngModel">

                            <div *ngIf="city.invalid && (city.dirty || city.touched)" class="alert text-danger">
                                <div *ngIf="city.errors.required">
                                    city must be filled
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="state">State</label>
                            <input id="state" name="state" type="text" class="form-control" [(ngModel)]="house.address.state" required #state="ngModel">
                            <div *ngIf="state.invalid && (state.dirty || state.touched)" class="alert text-danger">
                                <div *ngIf="state.errors.required">
                                    state must be filled
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="zipCode">ZipCode</label>
                        <input id="zipCode" name="zipCode" type="text" class="form-control" [(ngModel)]="house.address.zipCode" required #zipCode="ngModel">
                        <div *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)" class="alert text-danger">
                            <div *ngIf="zipCode.errors.required">
                                zip code must be filled
                            </div>
                        </div>
                    </div>
                </div>

                <div style="float:right;">
                    <a href="/house/list" class="btn btn-outline-warning">Cancel</a>&nbsp;&nbsp;&nbsp;
                    <button id="btnSubmit" type="submit" class="btn btn-outline-success" [disabled]="!houseForm.valid">Add House</button>

                </div>
            </div>
        </fieldset>
    </form>
</div>